<ion-content>
    <ion-list lines="none">
        <ion-item (click)="eliminarProducto()">
            <ion-col size="2">
                <ion-icon color="danger" name="trash"></ion-icon>
            </ion-col>
            <ion-col size="10">
                Eliminar producto
            </ion-col>
        </ion-item>
        <ion-item (click)="anadirProducto()">
            <ion-col size="2">
                <ion-icon color="success" name="add"></ion-icon>
            </ion-col>
            <ion-col size="10">
                Añadir unidad
            </ion-col>
        </ion-item>
        <ion-item (click)="menosProducto()">
            <ion-col size="2">
                <ion-icon color="danger" name="remove-outline"></ion-icon>
            </ion-col>
            <ion-col size="10">
                Eliminar unidad
            </ion-col>
        </ion-item>
    </ion-list>
</ion-content>