<ion-header [translucent]="true">
    <ion-toolbar color="danger">
        <ion-buttons slot="secondary">
            <ion-button (click)="openCamera()">
                <ion-icon slot="icon-only" name="barcode-sharp"></ion-icon>
            </ion-button>
            <ion-button [routerLink]="['/busqueda/']">
                <ion-icon slot="icon-only" name="search"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Lista compra</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-list *ngIf="json" style="    margin-top: 20px;">
        <ion-card class="hydrated" *ngFor="let s of json" (click)="goToList(s.nombre)">
            <img src="{{s.imagen}}" />
            <ion-card-header class="ion-inherit-color ios hydrated">
                <ion-card-subtitle role="heading" aria-level="3" class="ion-inherit-color ios hydrated">{{s.fecha}}
                </ion-card-subtitle>
                <ion-card-title role="heading" aria-level="2" class="ion-inherit-color ios hydrated">{{s.nombre}}
                </ion-card-title>
            </ion-card-header>
            <ion-card-content class="ios card-content-ios hydrated">
                {{s.nProductos}} productos
            </ion-card-content>
        </ion-card>
    </ion-list>



    <!-- fab placed to the bottom end -->
    <ion-fab vertical="bottom" (click)="presentAlertPrompt()" horizontal="end" slot="fixed">
        <ion-fab-button color="danger">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>