<ion-header [translucent]="true">
    <ion-toolbar color="danger">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Gráfico de precios</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-card #list *ngFor="let s of json">
        <ion-card-header>
            <ion-card-title style="display: flex;">
                <ion-col size="2">
                    <img src="{{s.logo}}"/>
                </ion-col>
                <ion-col size="10" style="align-self: center;">
                    {{s.nombre}} 
                    <small>({{s.precio}}€)</small>
                </ion-col>
            </ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <canvas id="b{{s.nombre}}"></canvas>
        </ion-card-content>
    </ion-card>

    
</ion-content>