ion-content {
    --ion-background-color: #ed5b6e;
}

ion-footer {
    background: #ed5b6e;
}

ion-button {
    min-height: 50px;
    margin: 10px;
}

ion-icon {
    margin-right: 5px;
}

.btnFacebook {
    background: #3171e0;
}

.btnGoogle {
    --background: white;
    --color: black;
}

.ion-padding {
    bottom: 0px;
    width: 100%;
}

h1 {
    font-size: 35px;
    color: white;
}

p {
    color: white;
    margin-top: -10px;
}

.container {
    margin-top: 50px;
    text-align: center;
    width: 100%;
}

.linea {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #fff;
    line-height: 0.1em;
    width: 70%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.linea span {
    background: #ed5b6e;
    padding: 0 10px;
    color: white;
}

.eye-icon-btn {
    background-color: transparent !important;
    color: white;
    font-size: 1.6rem !important;
    padding-right: 0;
}

.inputWhite {
    border: 2px solid white;
    color: white;
    margin: 10px;
}

.abajo {
    text-align: center;
    color: white;
}
