<ion-content>

    <div class="ion-padding" style="display: flex; justify-content: start;flex-direction: column;height: 100%;">

        <div style="width: 100%; text-align: center;">
            <h1>Ahorra Compra</h1>
            <p>La App para ahorrar en el supermercado</p>
            <img src="../assets/images/icon-light.png" style="width: 30%;" />
        </div>

        <div>
            <ion-list>
                <ion-item class="inputWhite">
                    <ion-label>
                        <ion-icon name="mail"></ion-icon>
                    </ion-label>
                    <ion-input #email name="email" type="email" required placeholder="Email *"></ion-input>
                </ion-item>
                <ion-item class="inputWhite" *ngIf="!olvidado">
                    <ion-label>
                        <ion-icon name="lock-closed"></ion-icon>
                    </ion-label>
                    <ion-input #password name="password" type="{{passwordtype}}" required placeholder="Password *"></ion-input>
                    <button ion-button clear class="eye-icon-btn" type="button" item-right (click)="managePassword()">
                        <ion-icon name="{{passeye}}"></ion-icon>
                    </button>
                </ion-item>
                <ion-item *ngIf="!isLoggingIn && !olvidado" class="inputWhite">
                    <ion-label>
                        <ion-icon name="lock-closed"></ion-icon>
                    </ion-label>
                    <ion-input #repassword placeholder="Confirma password" type="{{passwordtype}}" name="repassword"></ion-input>
                </ion-item>
            </ion-list>
            <label *ngIf="isLoggingIn" (click)="setOlvidado()">
                <div class="abajo">
                    ¿Has olvidado la contraseña?
                </div>
            </label>
            <ion-button expand="full" (click)="submit()" color="light">
                {{isLoggingIn ? 'Entrar' : olvidado ? 'Resetear' : 'Registrate'}}</ion-button>

        </div>

        <div *ngIf="isLoggingIn" class="linea">
            <span> o </span>
        </div>

        <div *ngIf="isLoggingIn">
            <ion-button expand="full" color="primary" class="btnFacebook" (click)="fbLogin()">
                <ion-icon name="logo-facebook"></ion-icon> ENTRAR CON FACEBOOK
            </ion-button>
            <ion-button expand="full" class="activated" class="btnGoogle" (click)="gLogin()">
                <ion-icon name="logo-google"></ion-icon> ENTRAR CON GOOGLE
            </ion-button>
        </div>
        <label (click)="toggleForm()">
            <div class="abajo">
                <span>{{isLoggingIn ? '¿Aún no tienes cuenta? ' : 'Volver al Login'}}</span>
                <strong>{{isLoggingIn ? 'Registrate' : ''}}</strong>
            </div>
        </label>
    </div>

</ion-content>