#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  padding: 4rem;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-content ion-toolbar {
  --background: translucent;
}

.swiper-slide {
  width: auto;
}

.puntos {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}