<ion-header [translucent]="true" color="danger">
    <ion-toolbar color="danger">
        <ion-buttons slot="secondary" *ngIf="json && json.supermercados && json.supermercados != ''">
            <ion-button *ngIf="json" (click)="changeFavourite()">
                <ion-icon *ngIf="json.producto.favorito == null" name="star-outline"></ion-icon>
                <ion-icon *ngIf="json.producto.favorito != null" name="star"></ion-icon>
            </ion-button>
            <ion-button (click)="goToChart()">
                <ion-icon name="bar-chart"></ion-icon>
            </ion-button>
            <ion-button (click)="share()">
                <ion-icon name="share-social"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-toolbar color="danger" style="height: 240px;">
        <div *ngIf="json">
            <div *ngIf="json.producto">
                <ion-avatar
                    style="margin: 0 auto;    width: 160px !important;    height: 160px !important;    border: 2px solid;">
                    <img src="{{json.producto.url}}" (click)="seeFullImage()">
                </ion-avatar>
                <h1
                    style="    text-align: center;      width: 75%;      white-space: nowrap;      margin: 0 auto;      text-overflow: ellipsis;       overflow: hidden;      padding-top: 10px;">
                    {{json.producto.nombre}}</h1>
                <h6 style="text-align: center;margin: 2px;">{{json.producto.subNombre}}</h6>
            </div>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <!-- fab placed to the top end -->
    <ion-fab vertical="top" horizontal="end" slot="fixed" edge
        *ngIf="json && json.supermercados && json.supermercados != ''">
        <ion-fab-button color="success" (click)="presentActionPrompt()">
            <ion-icon name="cart"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <div style="margin: 10px 0 -25px 0; text-align: center;">
        <img style="max-width: 25%;" *ngIf="json && json.producto.nutriscore != 0"
            src="{{json.producto.nutriscoreUrl}}">
    </div>

    <ion-list *ngIf="json" style="    margin-top: 20px;">
        <ion-card *ngFor="let s of json.supermercados" >
            <ion-card-content style="padding: 6px 0px 0px 16px">
                <ion-row no-padding>
                    <ion-col size="2" style="display: flex!important; align-items: center!important;">
                        <img src="{{s.logo}}">
                    </ion-col>
                    <ion-col size="7">
                        <p style="color: black; margin-top: 5px;">{{s.supermercado}}</p>
                        <p style="margin-top: -5px;  font-size: 75%;">Actualizado {{s.fupdate}}</p>
                    </ion-col>
                    <ion-col size="2" style="display: flex!important; align-items: center!important;">
                        <ion-text color="{{s.color}}">{{s.precio}} €</ion-text>
                    </ion-col>
                    <ion-col size="1" (click)="presentPopover($event, s.supermercado, s.urlWeb)" style="display: flex!important; align-items: center!important;">
                        <ion-icon name="ellipsis-vertical"></ion-icon>
                    </ion-col>
                </ion-row>
            </ion-card-content>
        </ion-card>
    </ion-list>

    <p *ngIf="json && json.alternativas && json.alternativas != ''" style="margin: 0rem 0 0 1rem;">Alternativas</p>
    <ion-slides *ngIf="json && json.alternativas && json.alternativas != ''" pager="false" [options]="slideOpts" >
          <ion-slide *ngFor="let a of json.alternativas">
            <ion-card style="height: 80px;width: 100%" (click)="goToProductInfo(a.ean)">
              <ion-card-content style="padding-bottom: 0px;">
                <ion-row no-padding>
                    <ion-col size="2">
                        <img src="{{a.imagen}}" style="max-height: 50px;">
                    </ion-col>
                    <ion-col size="10">
                        <p class="puntos" style="color: black; margin-top: 5px;">{{a.nombre}}</p>
                        <p style="margin-top: -5px;  font-size: 75%;">{{a.subNombre}}</p>
                    </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-slide>          
        </ion-slides>        

    <div id="container" *ngIf="json && (!json.supermercados || json.supermercados == '')">
        <ion-spinner *ngIf="showSpinner" name="lines"></ion-spinner>
        <p>Buscando precios en los supermercados, este proceso puede tardar unos minutos.</p>
    </div>

</ion-content>