<ion-header [translucent]="true">
  <ion-toolbar color="danger">      
      <ion-buttons slot="start">
          <ion-icon style="margin-left: 1rem;" (click)="closeModal()" name="chevron-back-outline"></ion-icon>
      </ion-buttons>
      <ion-title>Crear usuario</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form style="padding: 1rem;">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="user.email" name="email" required></ion-input>
    </ion-item>
    <ion-item>      
        <ion-label position="floating">Tipo</ion-label>
        <ion-select [(ngModel)]="user.tipo" name="tipo" required>
          <ion-select-option value="0">Usuario</ion-select-option>
          <ion-select-option value="2">Colaborador</ion-select-option>
          <ion-select-option value="1">Administrador</ion-select-option>
        </ion-select>
    </ion-item>

    <ion-button 
      style="margin-top: 1rem;"
      color="success" 
      expand="block" 
      (click)="createUsuario()">Crear</ion-button>
</form>
</ion-content>
