<ion-content>
    <ion-list lines="none">
        <ion-item (click)="addProducto()">
            <ion-col size="2">
                <ion-icon color="success" name="add"></ion-icon>
            </ion-col>
            <ion-col size="10">
                Añadir a la cesta
            </ion-col>
        </ion-item>
        <ion-item (click)="goToWeb(urlWeb); ">
            <ion-col size="2">
                <ion-icon color="secondary" name="earth"></ion-icon>
            </ion-col>
            <ion-col size="10">
                Ver en la Web
            </ion-col>
        </ion-item>
    </ion-list>
</ion-content>