<ion-header [translucent]="true">
    <ion-toolbar color="danger">
        <ion-buttons slot="secondary">
            <ion-button [routerLink]="['/busqueda/']">
                <ion-icon slot="icon-only" name="search"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Historial de búsqueda</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-list *ngIf="json" style="margin-top: 20px;">
        <ion-card *ngFor="let s of json">
            <ion-card-content>
                <ion-row no-padding>
                    <ion-col size="3" style="text-align: center;">
                        <img src="{{s.imagen}}" (click)="seeFullImage(s.imagen, s.nombre)">
                    </ion-col>
                    <ion-col size="7">
                        <h2 style="color:black">{{s.nombre}}</h2>
                        <p>{{s.subNombre}}</p>
                        <p style="display: flex;">
                            <ion-icon name="timer" color="danger"></ion-icon><small style="margin-left: 3px;">
                                {{s.fecha}}</small>
                        </p>
                    </ion-col>
                    <ion-col size="2" style="align-self: center;">
                        <ion-icon name="arrow-forward-circle" color="success" (click)="goToProductInfo(s.ean)"
                            style="width: 100%; height: 35px;"></ion-icon>
                    </ion-col>
                </ion-row>
            </ion-card-content>
        </ion-card>
    </ion-list>

</ion-content>