<ion-header [translucent]="true">
  <ion-toolbar color="danger">      
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Alternativas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div style="width: 100%; margin: 10px;">
    <ion-button routerLink="/alternativas-new" color="success">
      <ion-icon name="code-working-outline"></ion-icon> Crear alternativa
    </ion-button>
  </div>

  <ion-row *ngFor="let s of json">
    <ion-card style="width: 100%;text-align: center;">
      <img src="{{s.imagen}}" style="height: 15rem;" (click)="goToProductInfo(s.ean)">
      <ion-card-header style="padding-bottom: 0px;">
        <ion-card-subtitle>{{s.subNombre}}</ion-card-subtitle>
        <ion-card-title class="email">{{s.nombre}}</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-slides pager="false" [options]="slideOpts">
          <ion-slide *ngFor="let a of s.alternativas">
            <ion-card style="height: 80px;">             
              <ion-card-header style="padding-bottom: 0px;">
                <img src="{{a.imagen}}" style="max-height: 60px;" (click)="goToProductInfo(a.ean)">
              </ion-card-header>
            </ion-card>
          </ion-slide>          
        </ion-slides>
        <ion-row *ngIf="botonActivar">
          <ion-button *ngIf="s.activa != '0'" (click)="activar(s.ean, 0)" color="success">
            <ion-icon name="arrow-up-circle-outline"></ion-icon> Activar
          </ion-button>
          <ion-button *ngIf="s.activa == '0'" (click)="activar(s.ean, 1)" color="danger">
            <ion-icon name="arrow-down-circle-outline"></ion-icon> Desactivar
          </ion-button>
        </ion-row>
      </ion-card-content>      
    </ion-card>
  </ion-row>


</ion-content>
