
img {
    max-height: 40px;
}

h2 {
    color: black;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 1.2em;
    white-space: nowrap;
}

ion-card-content {
    padding: 5px 15px;    
}