<ion-header [translucent]="true">
    <ion-toolbar color="danger">
        <ion-buttons slot="secondary" style="width: 100%;">
            <ion-searchbar animated="true" autocomplete="true" placeholder="Nombre producto" type="text" debounce="200" (ionInput)="inputText()" (ionChange)="getItems($event)"></ion-searchbar>
        </ion-buttons>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <div style="width: 100%; text-align: center;margin: 20px 0 -20px 0;">
        <ion-spinner *ngIf="spinerPresent" name="lines"></ion-spinner>
    </div>
    
    <p *ngIf="textShow != ''" style="width: 100%; text-align: center;padding-top: 20px;">{{textShow}}</p>
    
    <ion-list *ngIf="isItemAvailable" style="margin-top: 20px;">
        <ion-card *ngFor="let s of items">
            <ion-card-content>
                <ion-row no-padding>
                    <ion-col size="2" style="text-align: center;align-self: center;">
                        <img src="{{s.imagen}}" (click)="seeFullImage(s.imagenGrande, s.nombre)">
                    </ion-col>
                    <ion-col size="8" (click)="goToProductInfo(s.ean)">
                        <h2 style="color:black; font-size: 20px;">{{s.nombre}}</h2>    
                        <p style="margin-top: -5px; font-size: 90%;">{{s.subNombre}}</p> 
                        <p style="margin-top: -5px; font-size: 50%;">{{s.ean}}</p>                    
                    </ion-col>
                    <ion-col size="2" (click)="goToProductInfo(s.ean)" style="align-self: center;">
                        <img *ngIf="s.nutriscore != 0" src="{{s.nutriscoreUrl}}">
                    </ion-col>
                </ion-row>
            </ion-card-content>
        </ion-card>
    </ion-list>

</ion-content>