<ion-header [translucent]="true">
    <ion-toolbar color="danger">
        <ion-buttons slot="secondary">            
            <ion-button (click)="borrarListaConfirm(data)">
                <ion-icon name="trash"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Lista {{data}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-list *ngIf="json" style="margin-top: 20px;">
        <ion-card *ngFor="let s of json.supermercados | keyvalue">
            <ion-card-header>
                <ion-card-title style="display: flex;">
                    <ion-col size="2">
                        <img src="{{s.value.logo}}" />
                    </ion-col>
                    <ion-col size="10" style="align-self: center;">
                        {{s.value.nombreSupermercado}}
                    </ion-col>
                </ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <div *ngFor="let p of s.value.productos">
                    <ion-row no-padding >                        
                        <ion-col size="8" (click)="goToProductInfo(p.ean)" style="display: flex!important; align-items: center!important;">
                            <ion-icon color="success" name="checkmark-circle-outline" style="margin-right: 5px;"></ion-icon>   
                            <p style="color:black;white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{p.nombre}}</p>
                        </ion-col>
                        <ion-col size="3" style="display: flex!important; align-items: center!important;">
                            <p style=" width: 100%; text-align: right;">{{p.cantidad}} x {{p.precio}}€</p>
                        </ion-col>
                        <ion-col size="1" (click)="presentPopover(p.ean, data, $event)" style="display: flex!important; align-items: center!important;">
                            <ion-icon name="ellipsis-vertical"></ion-icon>
                        </ion-col>
                    </ion-row>
                </div>                
            </ion-card-content>
            <ion-row>
                <ion-col size="7">
                    <ion-card-header>
                        <ion-card-title>Total</ion-card-title>
                    </ion-card-header>
                </ion-col>
                <ion-col size="5" style="text-align: right;">
                    <ion-card-header>
                        <ion-card-title>{{s.value.total}}€</ion-card-title>
                    </ion-card-header>
                </ion-col>
            </ion-row>
        </ion-card>
    </ion-list>

</ion-content>