<ion-header [translucent]="true">
  <ion-toolbar color="danger">      
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Usuarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div style="width: 100%; margin: 10px;">
    <ion-button (click)="presentAlertPrompt()" color="success">
      <ion-icon name="person-add-outline"></ion-icon> Crear usuario
    </ion-button>
  </div>
  
  
    <ion-row *ngFor="let s of json">
      <ion-card style="width: 100%;">
        <ion-card-header style="padding-bottom: 0px;">
          <ion-card-subtitle>Email</ion-card-subtitle>
          <ion-card-title class="email">{{s.email}}</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <ion-grid>
            <ion-row class="ion-align-items-end">
              <ion-col size="12" style="text-align: left;">
                <ion-icon name="time-outline"></ion-icon> {{s.date_created}}
              </ion-col>
              <ion-col size="12" style="text-align: left;">
                <ion-icon name="person-outline"></ion-icon> {{s.type}}
              </ion-col>
            </ion-row>
            <ion-row class="ion-align-items-end">
              <ion-col *ngIf=" s.baja == '0'" size="7" style="text-align: left;">
                <ion-button (click)="cambiarEstadoUsuario(s.baja, s.email)" color="danger">
                  <ion-icon name="arrow-down-circle-outline"></ion-icon> baja
                </ion-button>
              </ion-col>
              <ion-col *ngIf=" s.baja != '0'" size="7" style="text-align: left;">
                <ion-button (click)="cambiarEstadoUsuario(s.baja, s.email)" color="success">
                  <ion-icon name="arrow-up-circle-outline"></ion-icon> alta
                </ion-button>
              </ion-col>
              <ion-col size="3" style="text-align: right;">
                <ion-button (click)="presentAlertPromptEditar(s.email)" color="warning">
                  <ion-icon name="create-outline"></ion-icon>
                </ion-button>
              </ion-col>
              <ion-col size="2" style="text-align: right;">
                <ion-button (click)="presentAlertConfirm(s.email)" color="danger">
                  <ion-icon name="trash-outline"></ion-icon>
                </ion-button>
              </ion-col>
              
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>     
    </ion-row>

</ion-content>