<ion-header [translucent]="true">
  <ion-toolbar color="danger">      
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Crear alternativa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row style="margin-top: 2rem;">
    <ion-col size="5" style="text-align: center;">
      <img src='{{imagen1}}' style="max-width: 40%;">
    </ion-col>
    <ion-col size="2" style="text-align: center;">
     
    </ion-col>
    <ion-col size="5" style="text-align: center;">
      <img src='{{imagen2}}' style="max-width: 40%;">
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="5">
      <p class="puntos" style="text-align:center">{{nombre1}}</p>
    </ion-col>
    <ion-col size="2">
      <p style="text-align:center"></p>
    </ion-col>
    <ion-col size="5">
      <p class="puntos" style="text-align:center">{{nombre2}}</p>
    </ion-col>
  </ion-row>
  
  <div class="autocomplete">
    <ion-searchbar
      [(ngModel)]="searchText1"
      (ionInput)="search1()"
      debounce=500>
    </ion-searchbar>
    <ion-list *ngIf="isItemAvailable" style="margin-top: 20px;">
      <ion-card *ngFor="let s of items1">
          <ion-card-content>
              <ion-row no-padding>
                  <ion-col size="2" (click)="addProduct(s.ean, s.imagen,s.nombre)" style="text-align: center;align-self: center;">
                      <img src="{{s.imagen}}">
                  </ion-col>
                  <ion-col size="8" (click)="addProduct(s.ean, s.imagen,s.nombre)">
                      <h2 class="puntos" style="color:black; font-size: 20px;">{{s.nombre}}</h2>    
                      <p style="margin-top: -5px; font-size: 90%;">{{s.subNombre}}</p> 
                  </ion-col>
                  <ion-col size="2" (click)="addProduct(s.ean, s.imagen,s.nombre)" style="align-self: center;">
                      <img *ngIf="s.nutriscore != 0" src="{{s.nutriscoreUrl}}">
                  </ion-col>
              </ion-row>
          </ion-card-content>
      </ion-card>
  </ion-list>
  </div>

  <div style="width: 100%; margin: 10px;">
  <ion-button (click)="anadirAlternativa()" color="success">
    <ion-icon name="add"></ion-icon> Añadir alternativa
  </ion-button>
</div>



</ion-content>
