<ion-app>
    <ion-menu menu-id="first" side="start" contentId="content1">
        <ion-header color="danger">
            <ion-toolbar color="danger">
                <ion-title>Menú</ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-content>
            <ion-list lines="none" *ngFor="let pages of navigate">
                <ion-menu-toggle auto-hide="true">
                    <ion-item [routerLink]="pages.url" routerDirection="forward">
                        <ion-icon [name]="pages.icon" slot="start" color="danger"></ion-icon>
                        {{pages.title}}
                    </ion-item>
                </ion-menu-toggle>
            </ion-list>
            <ion-list lines="none">
                <ion-item (click)="logout()">
                    <ion-icon name="exit" slot="start" color="danger"></ion-icon>
                    Salir
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-menu>
    <ion-menu menu-id="admin" side="start" contentId="content1">
        <ion-header color="danger">
            <ion-toolbar color="danger">
                <ion-title>Menú</ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-content>
            <ion-list lines="none" *ngFor="let pages of navigate">
                <ion-menu-toggle auto-hide="true">
                    <ion-item [routerLink]="pages.url" routerDirection="forward">
                        <ion-icon [name]="pages.icon" slot="start" color="danger"></ion-icon>
                        {{pages.title}}
                    </ion-item>
                </ion-menu-toggle>
            </ion-list>
            <ion-list lines="none">
                <ion-menu-toggle auto-hide="true">
                    <ion-item routerLink="/users" routerDirection="forward">
                        <ion-icon name="people-circle-outline" slot="start" color="danger"></ion-icon>
                        Usuarios
                    </ion-item>
                </ion-menu-toggle>
            </ion-list>
            <ion-list lines="none">
                <ion-item (click)="logout()">
                    <ion-icon name="exit" slot="start" color="danger"></ion-icon>
                    Salir
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-menu>
    <ion-router-outlet id="content1"></ion-router-outlet>
</ion-app>